@import "tailwindcss";

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-purple: #6d28d9; 
  --color-yellow: #facc15; 

  --background: var(--color-white);
  --foreground: var(--color-black);
}

.dark {
  --background: var(--color-black);
  --foreground: var(--color-white);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
}
